[submodule "src/tcp-client-test/questdb-client-test"]
	path = src/tcp-client-test/questdb-client-test
	url = https://github.com/questdb/questdb-client-test.git
[submodule "src/questdb-client-test"]
	path = src/questdb-client-test
	url = https://github.com/questdb/questdb-client-test.git
